/* Your existing CSS */

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    line-height: 1.6;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a:hover {
    background-color: antiquewhite;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E3F2C1;
}

.welcome {
    color: solid black;
    font-family: serif;
    font-size: 50px;
}

.developer {
    color: solid black;
}

.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #C9DBB2;
}

.contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #AAC8A7;
}

section {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}

/* Gallery section CSS */
.gallery {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F0E1D2; /* Change the background color as desired */
}

.image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between images */
}

.image-gallery img {
    max-width: 25%;
    height: auto;
    border: 2px solid #fff; /* Optional: Add a border around each image */
}
