
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    line-height: 1.6;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
    
}
nav ul li a:hover{
    background-color: antiquewhite;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.home {
    height: 100vh; /* Set the section's height to full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E3F2C1;
}
.welcome{
    color: solid black;
    font-family: serif;
    font-size: 50px;
    margin-right: 60%;
}
.developer{
    color: solid black;
    margin-right: 60%;
    padding-right: 10%;
}
.about {
    height: 100vh; /* Set the section's height to full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #C9DBB2
}
.contact {
    height: 100vh; /* Set the section's height to full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#AAC8A7;
}

section {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}
